*.idea
*.gradle
*.prefs
*.project
*.classpath
*.log
*.iml
*.class

.classpath
.settings
target

# IDEA
.idea
*.iml
*.zip
*.pdb

.rebel-remote.xml.bak
.rebel.xml.bak
rebel.xml
.history
build

*.jar

/bin/